<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <script src="/js/home.js" defer></script>
    <title>Sobre | LC</title>
</head>

<body>

    <header>
        <div class="logo">
            <a href="https://www.instagram.com/cotuca_oficial/" target="_blank"><img src="/assets/logo.png" alt="Logo do LC"></a>
        </div>
        <nav class="navbar">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/contact">Localização</a></li>
                <li class="no-border"><a href="#">Login</a></li>
                <li class="mobile-only"><button class="close-menu">Fechar</button></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="slider-container">
            <input type="radio" name="slider" class="slider-radio" id="slide1" checked>
            <img src="https://www.w3schools.com/images/picture.jpg" alt="Imagem 1" class="slider-image">
            
            <input type="radio" name="slider" class="slider-radio" id="slide2">
            <img src="https://www.w3schools.com/images/picture.jpg" alt="Imagem 2" class="slider-image">
            
            <input type="radio" name="slider" class="slider-radio" id="slide3">
            <img src="https://www.w3schools.com/images/picture.jpg" alt="Imagem 3" class="slider-image">
            
            <div class="slider-nav">
                <label for="slide1" class="nav-dot"></label>
                <label for="slide2" class="nav-dot"></label>
                <label for="slide3" class="nav-dot"></label>
            </div>
        </div>

        <section class="container">
            <h1>Sobre a Locação de Carros LC</h1>
            <figure>
                <img src="/assets/car-image.jpg" alt="Carro da LC" style="max-width: 100%; border-radius: 10px;">
                <figcaption>Um dos carros topo de linha da nossa frota.</figcaption>
            </figure>
            <p>A Locação de Carros foi fundada em 2023, com o objetivo de proporcionar a melhor experiência em aluguel de carros para seus clientes. Com uma frota diversificada e veículos de última geração, temos o compromisso de garantir que sua jornada seja confortável e segura. Nossa equipe é altamente treinada para atendê-lo da melhor forma possível, esclarecendo dúvidas e oferecendo soluções adequadas às suas necessidades. Valorizamos a transparência, o compromisso com a satisfação do cliente e a inovação contínua em nossos serviços. Escolha a LC e viaje com confiança.</p>
            <p>Projeto desenvolvido para aprimorar as habilidades nas linguagens Java, HTML, CSS e Node.</p>
        </section>
    </main>

    <aside class="creator-info">
        <p>Desenvolvido por: Endrew Oliveira & Ygor de Oliveira</p>
        <p>Email: <a href="mailto:cc23514@g.unicamp.br" target="_blank">cc23514@g.unicamp.br</a> & <a href="mailto:cc235141@g.unicamp.br" target="_blank">cc23541@g.unicamp.br</a></p>
        <p>Instagram: <a href="https://www.instagram.com/sk3nds" target="_blank">Ends</a> & <a href="https://www.instagram.com/ygor_bolinha.7/" target="_blank">Ygor</a></p>
    </aside>

    <footer>
        <p>&copy; Locação de Carros 2023 - Todos os direitos reservados.</p>
    </footer>

    <button id="backToTop" class="back-to-top" aria-label="Voltar ao topo"><i class='fas fa-chevron-up' style="font-size: 25px"></i></button>

</body>

</html>
