<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/contact.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

        <script src="/js/contact.js"></script>

        <title>localization | LC</title>

    </head>

    <body>

    <header>

        <div class="logo">
            <a href="https://www.instagram.com/cotuca_oficial/" target="_blank"><img src="/assets/logo.png" alt="Logo do site"></a>
        </div>

        <nav class="navbar">

            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/contact">Localização</a></li>
                <li class="no-border"><a href="#">Login</a></li>
                <li class="mobile-only"><button class="close-menu">Fechar</button></li>
            </ul>
            
        </nav>

    </header>

    <main>

        <div class="container">
            <section>
                <h2>Localização</h2>
                <p>Veja abaixo a localização exata do nosso estabelecimento no mapa:</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.3016417980825!2d-47.06956598908982!3d-22.902242437622082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c8b01e362b09%3A0xd1c56cd0aa31fb38!2sCol%C3%A9gio%20T%C3%A9cnico%20de%20Campinas%20-%20Unicamp!5e0!3m2!1spt-BR!2sbr!4v1695246286111!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </section>
    
            <section class="cont">
                <h2>Contato</h2>
                <p>Entre em contato conosco através das informações abaixo:</p>
                <ul class="contat">
                    <li class="contat2"><strong class="cor">Email: </strong><span class="detail"><a href="mailto:contato@cotuca.unicamp.br" target="_blank">contato@cotuca.unicamp.br</a></span></li>
                    <li class="contat2"><strong class="cor">Telefone: </strong><span class="detail">(19) 98417-6804</span></li>
                    <li class="contat2"><strong class="cor">Endereço: </strong><span class="detail">Rua Culto a Ciência, nº 177 Bairro Botafogo - CEP - 13020-060 - Campinas -SP</span></li>
                </ul>
            </section>
        </div>

    </main>

    <div class="creator-info">
        <p>Desenvolvido por: Endrew Oliveira & Ygor de Oliveira</p>
        <p>Email: <a href="mailto:cc23514@g.unicamp.br" target="_blank">cc23514@g.unicamp.br</a> & <a href="mailto:cc235141@g.unicamp.br" target="_blank">cc23541@g.unicamp.br</a></p>
        <p>Instagram: <a href="https://www.instagram.com/sk3nds" target="_blank">Ends</a> & <a href="https://www.instagram.com/ygor_bolinha.7/" target="_blank">Ygor</a></p>
    </div>

    <footer>
        <p>&copy; Locação de Carros 2023 - Todos os direitos reservados.</p>
    </footer>

    <button id="backToTop" class="back-to-top"><i class='fas fa-chevron-up' style="font-size: 25px"></i></button>

    </body>

</html>